ul[ng2-sortable] {
  padding: 10px;
  border: 1px solid #ccc;
  list-style: none;
  display: block
}
ul[ng2-sortable] li {
  padding: 10px 5px;
  background: #4986e7;
  color: #fff;
  border: 1px solid #fff;
  display: block;
  position: relative
}
ul[ng2-sortable] li.drag-enter {
  border-top: 2px solid yellow;
}
