ul.horizontal-menu {
  display: inline-block;
  width: 600px;
}
ul.horizontal-menu > li {
  border: 1px solid #ccc;
  display: inline-block !important;
}
.dropdown-menu, .right-side-menu, .bottom-menu {
  display: inline-block;
}

.has-ngui-menu.active {
  color: #fff;
  background-color: #333;
}
.has-ngui-menu::after {
  content: '\2630';
  display: 'inline-block';
  border: 1px solid #eee;
  width: 1em;
  height: 1em;
  text-align: center;
  float: right;
  line-height: 1em;
}
.has-ngui-menu.active::after {
  content: '-';
  border: 1px solid #eee;
  width: 1em;
  height: 1em;
  text-align: center;
  display: 'inline-block';
  float: right;
}
.has-ngui-menu ul[ngui-menu] {
  color: #333;
  background-color: #fff;
  display: none;
  list-style: none;
  margin: 0;
  padding: 0
}
.has-ngui-menu.active > ul[ngui-menu] {
  display: inline-block;
}
.has-ngui-menu > ul[ngui-menu] > li {
  box-sizing: border-box;
  display: block;
  margin: 0;
  padding: 5px;
  border: 1px solid #ccc;
  white-space: nowrap;
}

