*[ngui-tooltip] {margin: 40px; border: 1px solid #ccc }
ngui-tooltip .tooltip-contents {
  border: 1px solid #ccc; padding: 5px
}
ngui-tooltip .tooltip-down-arrow {
  height: 10px;
}
ngui-tooltip .tooltip-down-arrow:before {
  content: '';
  display: block;
  position: absolute;
  width: 10px;
  height: 10px;
  left: 45%;
  bottom: 5px;
  background: #FFFFFF;
  border-left:1px solid #ccc;
  border-bottom:1px solid #ccc;
  transform:rotate(-45deg);
}